* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    height: 100vm;
    width: 100vm;
    background-color: #edf1fd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 15px;
}

li {
    list-style: none;
    cursor: pointer;
    display: inline;
}

a {
    text-decoration: none;
}

button {
    background-color: #129b9b;
    padding: 4px 10px;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid white;
    font-weight: 400;
    border-radius: 5px;
    width: fit-content;
}

button:hover {
    background-color: #fff;
    color: #129b9b;
    border: 1px solid black;
}

h1 span {
    color: #129b9b;
    background-color: rgba(237, 166, 166, 0.170);
    border-radius: 5px;
    padding: 0 15px;
}

p span {
    font-size: 25px;
    color: #129b9b;
    font-weight: 700;
}

/* header {
    padding: 15px 0;
} */

nav {
    display: flex;
    width: 100%;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500px;
}

nav ul li:hover {
    text-decoration: underline;
    font-weight: 900;
}

input {
    padding: 4px 10px;
    align-items: center;
}

.search-field {
    display: flex;
    gap: 30px;
    padding: 0 30px 0 500px;
}

.hero-section {
    display: flex;
    align-items: center;
}

.hero-left-section {
    width: 60%;
    padding: 0 8%;
}

.hero-left-section h1 {
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 16px;
}

.hero-right-section {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.hero-right-section img {
    height: 300px;
    width: 300px;
    border-radius: 250px
}

footer {
    font-weight: 600;
    display: flex;
    padding: 150px 0;
    justify-content: space-around;
}

.social-link {
    display: flex;
    align-items: center;
    font-size: 30px;
    gap: 20px;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    padding: 0 30px;
}